.active{
    color: dodgerblue;
    border-bottom: 6px solid dodgerblue;
}
a{
    text-decoration: none;color: unset;
}
.my-navbar{
    background-color: rgb(0,1,86);
    color: white;
    display: flex;
    justify-content: center;
    padding: 22px;
}
.my-navbar-links{
    padding: 21px;
    font-weight: 400;
}
.my-navbar-links:hover{
    color: dodgerblue;
    border-bottom: 6px solid dodgerblue;
}
.Freya{
    position: absolute;
    top: 0;
    left: 0;
    background-color: dodgerblue;
    border-radius: 4px;
    margin-left: 25px;
    padding: 55px 15px 10px 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.233);
    z-index: 100;
}
.Freya a{
    font-size: 35px;
    font-weight: 700;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.226);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.Freya a:hover{
    color: unset;
}
.fa-bars,.fa-times{
    display: none;
    font-size: 25px;
}
img{
    width: 100%;
    height: 80vh;
}

@media(max-width:1225px){
    .my-navbar{
        justify-content: flex-end;
    }
}
@media(max-width:1083px){
    .my-navbar-links{
        padding-bottom: 15px;
        letter-spacing: 1px;
    }
    .my-navbar-links-section{
        padding-bottom: 20px;
    }
    .my-navbar{
        justify-content: flex-end;
    }
    .my-navbar-links-section{
        display: none;
        position: absolute;
        top: 68.8px;
        left: 0;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        animation: navbar-animate 0.2s linear;
    }
    @keyframes navbar-animate{
        0%{
            left: -75vw;
        }
        100%{
            left: 0;
        }
    }
    .fa-times,.fa-bars{
        display: block;
    }
    .my-navbar-links{
        padding: 22px;
    }
    .my-navbar-links:hover{
        border-bottom: 2px solid dodgerblue;
    }
    .active{
        color: dodgerblue;
        border-bottom: 2px solid dodgerblue;
    }
}
@media(max-width:600px){
    
.Freya{
    background-color: transparent;
    border-radius: 0px;
    margin-left: 0;
    padding: 20px 15px 12px 15px;
    box-shadow: none;
    z-index: 100;
}
.Freya a{
    font-size: 25px;
    font-weight: 700;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.226);
    text-transform: uppercase;
    letter-spacing: 3px;
}
}

/* Navbar after authentication */
.my-dropdown{
    position: absolute;
    top: 69px;
    background-color: #fff;
    color: dodgerblue;
    display: none;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 80px;
    border-left: 4px solid #ff156f;
    animation: dropdowntoup 0.3s linear;
}
.my-dropdown-navbar-links{
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    margin: 0.2px 0px;
}
.my-dropdown-navbar-links:hover{
    background-color: rgba(221, 221, 221, 0.43);
}
@keyframes dropdowntoup{
    0%{
        opacity: 0.4;
        top: 85px;
    }
    100%{
        opacity: 1;
    }
}
@media(max-width:1083px){
    .my-dropdown{
        position: relative;
        top: 0;
        background-color: transparent;
        color: white;
        font-size: unset;
        display: none;
        flex-direction: column;
        justify-content: stretch;
        margin-left: 0;
        border-left: none;
        animation: dropdowntodown 0.6s linear;
        background-color: #ff156f;
        overflow: hidden;
    }
    .my-dropdown-navbar-links{
        margin: 0;        
        letter-spacing: 1px;
        padding: 21px;
        font-weight: 400;
    }
    .my-dropdown-navbar-links:hover{
        background-color: unset;
        color: #ff1;
    }
     
    @keyframes dropdowntodown{
        0%{
            height: 50%;
            opacity: 0.4;
        }
        100%{
            height: 100%;
            overflow: unset;
            opacity: 1;
        }
    }  
}